boto3==1.35.76
psycopg2-binary==2.9.10
numpy==1.26.4
sentence-transformers==3.3.1
transformers==4.47.1
torch==2.5.1
torchvision==0.20.1
pillow==11.0.0
pgvector==0.3.6
python-jose[cryptography]==3.3.0
requests==2.32.3
langgraph>=0.2.0
langchain>=0.3.0
langchain-aws>=0.2.0
grandalf # for printing ASCII view of langgraph
